<div class="row">

    <div class="col-md-2">
        <div class="collapse  navbar-collapse" id="2">
            <ul class="nav sidebar">
                <li><a class="{{activeleftmenu0}}" href="/">Home</a></li>
                <li><a class="{{activeleftmenu1}}" href="/Album">Album</a></li>
                <li><a class="{{activeleftmenu2}}" href="/About">About</a></li>
                <li><a class="{{activeleftmenu3}}" href="/Blog">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
      {{{body}}}
    </div>
</div>
